#index-page{
  background: $backgrundColor;
}
.download-locked {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display:none;
  .downloadLock {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #000;
    opacity: 0.5;
    z-index: 100;
  }
  .download-info-text{
    position: absolute;
    z-index: 101;
    left: 50%;
    top: 70px;
    text-align: center;
    width: 400px;
    margin-left:-200px;
    height:230px;
    background-color: #fff;
    >div{
      line-height: 55px;
    }
    >div.showFixed{
      line-height: 35px;
      div.spinner{
         top:15px !important;
      }
    }

  }
  >div{
    width:100%;
    height:100%;
    padding:30px 0 0 0;
  }
  div.spinner{
    position: relative !important;
    top:28px !important;
    left:35px !important;
  }
  div.loading-label{
    padding-left:55px;
    text-align: left;
  }

}

.loading-page{
  position:absolute;
  z-index:9999;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:#fff;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .left-sidebar.custom-client{
    .left-footer{
      height: 0;
      display: none;
    }
    .bucket-list{
      bottom:0;
    }
  }
}

.left-sidebar {
  width: $leftSidebarWidth;
  background: $leftSidebarBgColor;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  color: $leftSidebarFontColor;

  &.has-current-location{
    bottom: 36px;
  }

  .left-footer{
    position: absolute;
    height: 40px;
    line-height: 34px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px 10px 2px 15px;
    color: #fff;
    background-color: rgb(55,60,62);
//    border-top: 1px solid #000;
    @include ellipsis;
  }

  .left-header {
//    position: relative;
//    height: $titleHeight;
//    line-height: $titleHeight;
    padding: 0 15px;
    border-bottom: 0px solid rgba(255, 255, 255, .1);
    .speed-icon{
      float: right;
      margin-top:-35px;
      cursor: pointer;
      &:hover{
        background-position: -24px 0;
      }
    }
  }
  .left-buttons{
    height: 30px;
    padding: 5px;
    background-color: rgb(55,60,62);
    text-align: center;
    a.btn{
      padding:0;
    }
    a{
//      margin:auto 3px;
      vertical-align: middle;
      cursor: pointer;
    }
    a:hover .button-label{
      color:#fff;
    }
    .button-icon{
      border: 1px solid $embedBgColor;
      box-shadow: 0 0 0 1px $embedBgColor;
      border-radius: 15px;
      width: 15px;
      height: 15px;
      padding: 1px 2px;
      color: $embedBgColor;
      margin-right: 3px;
    }
    .button-label{
    }
    .button-setting-icon{
      border:0px;
      box-shadow: 0 0 0 0px $embedBgColor;
      font-size:16px;
    }
  }

  a {
    color: $leftSidebarFontColor;

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    color: #fff;
    font-size: 18px;
    line-height: $titleHeight;
  }

  .bucket-list {
    position: absolute;
    top:80px;
    bottom: 40px;
    padding:10px 0;
    overflow: auto;
    width: 100%;
    .no-bucket-left{
      width:100%;
      text-align: center;
      height: 30px;
      position: absolute;
      left: 0px;
      top:50%;
      margin-top:-15px;
      > .bucket-loading > .spinner >div > div{
        background-color:#fff !important;
      }
    }
    >ul > li {
      margin: 4px 0;
      position: relative;

      ul.dropdown-menu {
        left: auto;
        right: 10px;
      }

      > a {
        display: block;
        height: $bucketItemHeight;
        line-height: $bucketItemHeight;
        padding: 0 20px;
        border-left: 3px solid transparent;
        text-decoration: none;
        @include ellipsis;
        &:hover,
        &:focus,
        &.selected {
          background: $bucketItemHoverBg;
        }

        &:focus .show-menu,
        &:hover .show-menu {
          display: inline-block;
        }

        &.selected {
          border-left-color: $embedBgColor;
          color: $leftSidebarSelectFontColor;
          >span.show-menu{
            display: block;
          }
        }

        .show-menu {
          position: absolute;
          right:0;
          top: 0;
          display: none;
          color: #fff;
          width: 24px;
          height: 24px;
          text-align: center;
        }

      }
    }
  }
}

.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: $leftSidebarWidth;
  overflow: hidden;
  .no-bucket-detail{
    height:264px;
    width:700px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-132px;
    margin-left:-350px;
    padding:0 15px;
    .image-container{
      float: left;
    }
    .text-container{
      height: 100%;
      width:100%;
      padding-left:284px;

      text-stroke: 0;
      color: transparent;
      font-family: '微软雅黑';
      background-color: rgba(82,96,117,0.5);
      -webkit-background-clip: text;
      text-shadow: rgba(255,255,255,0.5) 0 2px 3px, rgba(255,255,255,0.2) 1px 3px 3px;
      transition: text-shadow .1s ease-out, background-color .2s ease-out;

      .title{
        height: 132px;
        padding-top: 80px;
        font-size: 28px;
        font-weight: bold;
      }
      .detail{
        height: 132px;
        font-size: 18px;
        padding-top: 10px;
        a{
          cursor: pointer;
        }
      }
    }

  }
  .search-wrapper {
    height: $searchWrapperHeight;
    border-bottom: 1px solid $baseBorderColor;
    padding: ($searchWrapperHeight - $searchInputHeight)/2 12px 0 54px;
    position: relative;

    > .fa {
      position: absolute;
      top: 15px;
      right: 21px;
      color: $btnFontColor;
    }

    input {
      height: $searchInputHeight;
      border: 1px solid $baseBorderColor;
      border-radius: 15px;
      display: block;
      width: 100%;
      padding: 0 25px 0 15px;
    }

    .search-scope {
      position: absolute;
      left: 59px;
      top: 10px;
      height: 22px;
      line-height: 22px;
      border-radius: 11px;
      background: $embedBgColor;
      color: #fff;
      padding: 0 12px;

      span {
        display: inline-block;
        max-width: 120px;
        vertical-align: middle;
        margin-top: -2px;
        @include ellipsis;
      }
    }
  }

  .bread {
    line-height: $breadHeight;
    height: $breadHeight;
    position: absolute;
    top: 0;
    left: 0;

    > .history {
      float: left;
      font-size: 22px;
      font-weight: bold;
      width: 54px;
      text-align: center;

      > button {
        margin: 0;
        padding: 0;
      }
    }

    > .bread-list {
      float: left;
      margin-left: 15px;
      max-width:470px;
      white-space: nowrap;
      overflow: hidden;
      > li {
        display: inline-block;
        max-width: 400px;
        @include ellipsis;
        a {
          color: $baseFontColor;
          text-decoration: none;
        }

        &:after {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border: 4px solid transparent;
          border-left-color: $lightFontColor;
          margin: 0 5px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .toolbar {
    height: $toolbarHeight;

    .menu-list {
      margin: 0 5px;

      .btn-group{
        margin:5px 5px 0 5px;
      }

      .bucket-region {
        position: relative;
        right: 5px;
        float: right;
        margin-top: 5px;
        color: #50acf3;
        padding-top: 10px;
      }
    }

  }

  .file-browser {
    position: absolute;
    left: 0;
    right: 0;
    top: $breadHeight;
    bottom:$initTransQueueHeigth;
    transition: bottom 0.25s linear;

    .oss-tip{
      margin: 0;
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      border-top: 1px solid $baseBorderColor;
    }

    .filelist-header {
      border-top: 1px solid $baseBorderColor;
      height: $fileListHeaderHeight;
      line-height: $fileListHeaderHeight;
      background: #fff;
    }

    .filename {
      padding-left: 15px;
      max-width: 50%;
      @include ellipsis;
      .file-icon-32 {
        margin-right: 10px;
      }
    }

    .upload-part-list .filename{
      max-width: 35%;
    }


    .new-file-item .filename{
    max-width: none;
    }

    .filesize {
      width: 160px;
    }

    .file-create-time,
    .init-time {
      width: 190px;
    }

    .upload-id {
      width: 330px;
    }

    .file-item {
      line-height: $fileItemHeight;
      cursor: default;

      &:nth-child(even) {
        background: $lightBackgroundColor;
      }
//
//      &:hover {
//        background: $itemHoverBackgroundColor;
//      }

      &.selected {
        background: $itemSelectedBackgroundColor;
        color: #fff;
      }

      .filename {
        font-size: 14px;
        font-family: "hiragino sans gb", "Helvetica Neue", "Helvetica", "Arial", "宋体", "simsun", "sans-serif";

      }
    }

    .filelist-body {
      position: absolute;
      left: 0;
      right: 0;
      top: $fileListHeaderHeight + $toolbarHeight;
      bottom: 0;
      overflow: auto;
      background: #fff;

      .new-file-item {

        .btn{
          margin-left: 10px;
        }

        .form-control {
          display: inline-block;
          width: 300px;
        }

      }

      .loading-banner{
        height: 32px;
        line-height: 32px;
        text-align: center;
      }
    }

    .filelist-body.tip-shown{
      top: $fileListHeaderHeight + $toolbarHeight + 30;
    }
  }

  .trans-queue {
    position: absolute;
    bottom: ($transQueueHeigth - $initTransQueueHeigth)*-1;
    left: 0;
    right: 0;
    height: $transQueueHeigth;
    border-top: 1px solid $baseBorderColor;
    background: #fff;
    transition: bottom 0.25s linear;

    .total-speed-wrapper{
      position: absolute;
      right: 50px;
      line-height: 40px;

      span{
        margin: 0 5px;
      }

      strong{
        font-weight: normal;
      }
    }

    .slide_queue{
      position: absolute;
      right: 20px;
      top:12px;
      .fa{
        color: #000;
      }
    }

    .nav-tabs {
      background: #f2f2f2;
      padding-left: 10px;
      padding-top: 5px;
    }

    .tab-content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 39px;

      .opt-bar {
        background: #fff;
        padding: 5px 10px;
        border-bottom: 1px solid $baseBorderColor;

        .opt-list > .btn-group {
          margin-right: 5px;
        }
      }
    }

    $queueItemFilesizeCellWidth:140px;
    $queueItemOptCellWidth:100px;
    $queueItemRemainTimeCellWidth:140px;

    .queue-list {
      overflow: auto;

      .queue-item {
        height: $queueItemHeight;
        line-height: $queueItemHeight;
        cursor: default;
        position: relative;
        overflow: hidden;
        > div {
          position: relative;
          padding: 0 15px;
        }

        > .queue-progress{
          position: absolute;
          top:24px;
          left: 42px;
          margin: 0;
          right: $queueItemFilesizeCellWidth + $queueItemOptCellWidth + $queueItemRemainTimeCellWidth;
          height: 5px;
          padding:0;
          .progress{
            height: 100%;
            margin-bottom: 0;
          }
        }

        &.done > .queue-progress{
          display: none;
        }

        > .bg-success{
          background: rgba(68,157,68,.3);
        }

        &:nth-child(even) {
          background: $lightBackgroundColor;
        }

        &:hover {
          background: $itemHoverBackgroundColor;
        }

        &.selected {
          background: $itemSelectedBackgroundColor !important;
          color: #fff;
        }

        .filesize{
          width: $queueItemFilesizeCellWidth;
          @include ellipsis;
          padding: 0 20px;
          text-align: center;
        }

        .filename{
          padding: 0 10px;
          max-width: 52%;
          @include ellipsis;
          > i{
            margin-right:5px;
          }
          .name{
            position: relative;
            bottom: 4px;
          }
        }

        &.done .filename .name{
          bottom: -1px;
        }

        .remain-time {
          width: $queueItemRemainTimeCellWidth;
          @include ellipsis;
          text-align: center;
        }

        .opts {
          width: $queueItemOptCellWidth;
          text-align: right;
        }
      }
    }

    .log-wrapper{
      textarea{
        resize: none;
        border:0;
        cursor: text;
      }
    }

    .queue-list,
    .log-wrapper textarea{
      position: absolute;
      top:40px;
      bottom:0;
      left:0;
      right: 0;
      overflow: auto;
    }

    i.news-message{
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      position: absolute;
      background: red;
      z-index: 1;
      right: 5px;
      top: 5px;
    }

  }

  &.show-trans-queue{

    .trans-queue{
      bottom:0;
    }

    .file-browser{
      bottom:$transQueueHeigth;
    }

  }
  .version-tabs{
    width:100%;
    height:230px;
    overflow-y:auto;
    padding:15px 30px;
    background:#f6f6f6 url(../images/oss-version-log.png);
    background-repeat: no-repeat;
    background-position: right;
    font-size:14px;
    >div:first-child{
      >div:first-child{
        font-size: 24px;
      }
      >div:nth-child(2){
        color:#77A7E7;
      }
    }
    >div:nth-child(2){
      line-height:20px;
      margin-top:10px;
      margin-right:385px;
      >p{
        padding-left:25px;
        text-indent:-25px;
      }
    }
    >div:nth-child(3){
      font-size: 18px;
      color:blue;
      color:blue;
    }
    >div:nth-child(4){
      line-height:20px;
      margin-top:10px;
      margin-right:385px;
      >p{
        padding-left:25px;
        text-indent:-25px;
      }
    }
  }
}

a.news-tooltip {
  background: #EEBE2E;
  padding: 5px;
  position: absolute;
  width: 50px;
  height: 35px;
  left:160px;
  z-index: 10;
  text-align: center;
  color:#fff;
  cursor: pointer;
}
/*背景  在上面*/
a.news-tooltip:after {
  position: absolute;
  display: inline-block;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 10px solid #24272b;
  left: -0px;
  bottom: 0px;
  content: '';
}


/*
   消息新闻样式
*/
.news-carousel{
  img{
    width:100%;
    margin:0;
    cursor: pointer;
  }
  .img-container{
    text-align:left;
    color:#fff;
    padding: 40px;
    padding-right:250px;
    font-size:16px;
    line-height:38px;
    width:100%;
    height:230px;
    cursor: pointer;
    >div:nth-child(1){
      font-size:30px;
    }
    >div:nth-child(3){
      text-align:center;
      line-height: 32px;
      border:1px solid #fff;
      width:200px;
      margin-top:10px;
      cursor: pointer;
    }
  }
  .carousel-indicators {
    top: 200px;
  }
  .left.carousel-control{
    display: none;
  }
  .right.carousel-control{
    display: none;
  }
}
.win.news-carousel{
  .carousel-indicators {
    top: 280px;
  }
}
