.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $backgrundColor;
}

.left-sidebar {
  width: $leftSidebarWidth;
  background: $leftSidebarBgColor;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  color: $leftSidebarFontColor;

  .left-header {
    position: relative;
    height: $titleHeight;
    line-height: $titleHeight;
    padding: 0 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    .export-auth,
    .add-bucket {
      position: absolute;
      text-align: center;
      color: $embedBgColor;
    }

    .add-bucket{
      right: 10px;
      box-shadow: 0 0 0 2px $embedBgColor;
      border-radius: 9px;
      height: 15px;
      width: 15px;
      margin-top: -8px;
      top: 50%;
    }

    .export-auth{
      right:32px;
      top:17px;
      font-size: 20px;
    }

    .add-bucket:before{
      position: relative;
      left: -3px;
      top:1px;
    }
  }

  a {
    color: $leftSidebarFontColor;

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    color: #fff;
    font-size: 18px;
    line-height: $titleHeight;
  }

  .bucket-list {
    position: absolute;
    top:50px;
    bottom: 0;
    overflow: auto;
    width: 100%;
    > li {
      margin: 4px 0;
      position: relative;

      ul.dropdown-menu {
        left: auto;
        right: 10px;
      }

      > a {
        display: block;
        height: $bucketItemHeight;
        line-height: $bucketItemHeight;
        padding: 0 20px;
        border-left: 3px solid transparent;
        text-decoration: none;

        &:hover,
        &:focus,
        &.selected {
          background: $bucketItemHoverBg;
        }

        &:focus .show-menu,
        &:hover .show-menu {
          display: inline-block;
        }

        &.selected {
          border-left-color: $embedBgColor;
          color: $leftSidebarSelectFontColor;
        }

        .show-menu {
          position: absolute;
          right:0;
          top: 0;
          display: none;
          color: #fff;
          width: 24px;
          height: 24px;
          text-align: center;
        }

      }
    }
  }
}

.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: $leftSidebarWidth;
  overflow: hidden;

  .search-wrapper {
    height: $searchWrapperHeight;
    border-bottom: 1px solid $baseBorderColor;
    padding: ($searchWrapperHeight - $searchInputHeight)/2 12px 0 54px;
    position: relative;

    > .fa {
      position: absolute;
      top: 15px;
      right: 21px;
      color: $btnFontColor;
    }

    input {
      height: $searchInputHeight;
      border: 1px solid $baseBorderColor;
      border-radius: 15px;
      display: block;
      width: 100%;
      padding: 0 25px 0 15px;
    }

    .search-scope {
      position: absolute;
      left: 59px;
      top: 10px;
      height: 22px;
      line-height: 22px;
      border-radius: 11px;
      background: $embedBgColor;
      color: #fff;
      padding: 0 12px;

      span {
        display: inline-block;
        max-width: 120px;
        vertical-align: middle;
        margin-top: -2px;
        @include ellipsis;
      }
    }
  }

  .bread {
    line-height: $breadHeight;
    height: $breadHeight;
    position: absolute;
    top: 0;
    left: 0;

    > .history {
      float: left;
      font-size: 22px;
      font-weight: bold;
      width: 54px;
      text-align: center;

      > button {
        margin: 0;
        padding: 0;
      }
    }

    > .bread-list {
      float: left;
      margin-left: 15px;
      > li {
        display: inline-block;

        a {
          color: $baseFontColor;
          text-decoration: none;
        }

        &:after {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border: 4px solid transparent;
          border-left-color: $lightFontColor;
          margin: 0 5px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .toolbar {
    height: $toolbarHeight;

    .menu-list {
      margin: 0 5px;

      .btn-group{
        margin:5px 5px 0 5px;
      }
    }

  }

  .file-browser {
    position: absolute;
    left: 0;
    right: 0;
    top: $breadHeight;
    bottom:$initTransQueueHeigth;
    transition: bottom 0.25s linear;

    .filelist-header {
      border-top: 1px solid $baseBorderColor;
      height: $fileListHeaderHeight;
      line-height: $fileListHeaderHeight;
      background: #fff;
    }

    .filename {
      padding-left: 15px;
      max-width: 50%;
      @include ellipsis;
      .file-icon-32 {
        margin-right: 10px;
      }
    }

    .filesize {
      width: 160px;
    }

    .file-create-time,
    .init-time {
      width: 190px;
    }

    .upload-id {
      width: 330px;
    }

    .file-item {
      line-height: $fileItemHeight;
      cursor: default;

      &:nth-child(even) {
        background: $lightBackgroundColor;
      }
//
//      &:hover {
//        background: $itemHoverBackgroundColor;
//      }

      &.selected {
        background: $itemSelectedBackgroundColor;
        color: #fff;
      }

      .filename {
        font-size: 14px;
        font-family: "hiragino sans gb", "Helvetica Neue", "Helvetica", "Arial", "宋体", "simsun", "sans-serif";

      }
    }

    .filelist-body {
      position: absolute;
      left: 0;
      right: 0;
      top: $fileListHeaderHeight + $toolbarHeight;
      bottom: 0;
      overflow: auto;
      background: #fff;

      .new-file-item {

        .btn{
          margin-left: 10px;
        }

        .form-control {
          display: inline-block;
          width: 300px;
        }

      }
    }
  }

  .trans-queue {
    position: absolute;
    bottom: ($transQueueHeigth - $initTransQueueHeigth)*-1;
    left: 0;
    right: 0;
    height: $transQueueHeigth;
    border-top: 1px solid $baseBorderColor;
    background: #fff;
    transition: bottom 0.25s linear;

    .total-speed-wrapper{
      position: absolute;
      right: 50px;
      line-height: 40px;

      span{
        margin: 0 5px;
      }

      strong{
        font-weight: normal;
      }
    }

    .slide_queue{
      position: absolute;
      right: 20px;
      top:12px;
      .fa{
        color: #000;
      }
    }

    .nav-tabs {
      background: #f2f2f2;
      padding-left: 10px;
      padding-top: 5px;
    }

    .tab-content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 39px;

      .opt-bar {
        background: #fff;
        padding: 5px 10px;
        border-bottom: 1px solid $baseBorderColor;

        .opt-list > .btn-group {
          margin-right: 5px;
        }
      }
    }

    $queueItemFilesizeCellWidth:140px;
    $queueItemOptCellWidth:100px;
    $queueItemRemainTimeCellWidth:140px;

    .queue-list {
      overflow: auto;

      .queue-item {
        height: $queueItemHeight;
        line-height: $queueItemHeight;
        cursor: default;
        position: relative;
        overflow: hidden;
        > div {
          position: relative;
          padding: 0 15px;
        }

        > .queue-progress{
          position: absolute;
          top:24px;
          left: 42px;
          margin: 0;
          right: $queueItemFilesizeCellWidth + $queueItemOptCellWidth + $queueItemRemainTimeCellWidth;
          height: 5px;
          padding:0;
          .progress{
            height: 100%;
            margin-bottom: 0;
          }
        }

        > .bg-success{
          background: rgba(68,157,68,.3);
        }

        &:nth-child(even) {
          background: $lightBackgroundColor;
        }

        &:hover {
          background: $itemHoverBackgroundColor;
        }

        &.selected {
          background: $itemSelectedBackgroundColor !important;
          color: #fff;
        }

        .filesize{
          width: $queueItemFilesizeCellWidth;
          @include ellipsis;
          padding: 0 20px;
          text-align: center;
        }

        .filename{
          padding: 0 10px;
          max-width: 70%;
          @include ellipsis;
          > i{
            margin-right:5px;
          }
          .name{
            position: relative;
            bottom: 4px;
          }
        }

        .remain-time {
          width: $queueItemRemainTimeCellWidth;
          @include ellipsis;
          text-align: center;
        }

        .opts {
          width: $queueItemOptCellWidth;
          text-align: right;
        }
      }
    }

    .log-wrapper{
      textarea{
        resize: none;
        border:0;
        cursor: text;
      }
    }

    .queue-list,
    .log-wrapper textarea{
      position: absolute;
      top:40px;
      bottom:0;
      left:0;
      right: 0;
      overflow: auto;
    }
  }

  &.show-trans-queue{

    .trans-queue{
      bottom:0;
    }

    .file-browser{
      bottom:$transQueueHeigth;
    }

  }
}

