html,
body {
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: default;
  user-select: default;
  outline: none;
}

body {
  font: $baseFont;
  color: $baseFontColor;
}

button {
  background: none;
  border: 0 none;
  outline: none;
}

@for $i from 1 to 6 {
  h#{$i} {
    margin: 0;
    padding: 0;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  outline: 0 none !important;
  text-decoration: none !important;
}

input:focus {
  outline: 0;
}

[disabled] .fa {
  opacity: .2;
  cursor: default;
}

@function getIconSize($size) {
  @if $size == 24 {
    @return 32;
  }
  @return $size;
}

//最小高度
@each $size in 100, 200, 250, 300 ,400, 500 {

  .min-height-#{$size} {
    min-height: #{$size}px;
  }

}


//文件图标样式
@each $size in 16, 24 ,32, 128 {

  .file-icon-#{$size} {
    display: inline-block;
    width: #{$size}px;
    height: #{$size}px;
    vertical-align: middle;
  }

  @each $type in 'folder', 'video', 'audio', 'compress', 'document', 'image', 'execute', 'other', 'doc', 'docx', 'xls', 'xlsx', 'ppt', 'pptx', 'pdf', 'ai', 'cdr', 'psd', 'dmg', 'iso', 'md', 'ipa', 'apk' {
    .file-icon-#{$size}.icon-#{$type} {
      background: url(../images/file-icons/#{$type}#{getIconSize($size)}x#{getIconSize($size)}.png) no-repeat center;
      @if $size == 24 { background-size: #{$size}px #{$size}px }
      @include mq(retina) {
        background: url(../images/file-icons/#{$type}#{getIconSize($size)*2}x#{getIconSize($size)*2}.png) no-repeat center;
        background-size: #{$size}px #{$size}px;
      }
    }
  }
}

.oss-dialog{


  h1 {
    text-align: center;
    margin: 20px 0;
  }

  .section-wrapper {
    margin-left: 15px;
    margin-right: 15px;

    section {
      padding:10px 80px;
    }

  }

  .form-group{
    .btn-wrapper{
      margin-left: -2%;
      margin-right: -3%;

      .btn{
        width: 45%;
        margin: 0 2%;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 14px;
      }

      .btn-default{
        background: #fff;
        border-color: #fff;
      }

      .btn-primary{
        background:#50acf3;
        border-color:#50acf3;
      }

    }
  }


  .form-control {
    border-radius: 2px;
    height: 34px;
  }

  .form-horizontal .control-label {
    padding-top: 0px !important;
    margin-bottom: 0;
    text-align: right;
  }

  .input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .form-control::-webkit-input-placeholder {
    transition: color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  .login-log{
     position:absolute;
     bottom:0px;
     left:0px;
     right:0px;
     text-align: center;
     padding-bottom: 10px;

  }
  .login-log > img{
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }
}

.dark-theme{

  background: $darkThemeBg;
  color: #fff;
  select option{
    background: $darkThemeBg;
  }

  .fa-info-circle {
    color: #fc9701;
  }

  .form-group{
    color:#bababa;
  }

  .form-control {
    background-color: $darkThemeFormControlBg;
    border-color: transparent;
    color: #fff;
  }

  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    color: #777777;
  }

  .input-group-addon {
    background: $darkThemeFormControlBg;
    border-color: transparent;
  }

  .form-control:focus {
    border-color: transparent;
  }

  .form-control:focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .7);
  }
}

.position-fixed{
  position: fixed;
  z-index:999;
}

/* 滚动条样式 */
.scrollbar::-webkit-scrollbar {
  height:8px;
  overflow:visible;
  width:8px;
  -webkit-transition:all linear 0.1s;
  transition:all linear 0.1s;
  -moz-transition:all linear 0.1s;
  -o-transition:all linear 0.1s;
}

.scrollbar::-webkit-scrollbar-button {
  height:0;
  width:0;
  display: none;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color:rgba(0,0,0,.2);
  min-height:28px;
  border-radius: 5px;
}

.scrollbar.dark::-webkit-scrollbar-thumb{
  background-color:rgba(255,255,255,.1);
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color:#7c7c7c;
}

.scrollbar::-webkit-scrollbar-corner {
  height: 0;
  width: 0;
  display: none;
}
.scrollbar::-webkit-resizer{
  height: 0;
  width: 0;
  display: none;
}

.empty{
  color: $lightFontColor;
  text-align: center;
  padding-top: 60px;
}

.modal-footer .spinner-wrapper{
  height: 30px;
  width: 30px;
  position: relative;
}

/*重写ui-select的样式有bug*/
.ui-select-bootstrap .btn{
  padding-top: 0;
  padding-bottom: 0;
}

.ui-select-bootstrap .ui-select-choices-row>a{
  padding-top: 0;
  padding-bottom: 0;
}

i.fa.button-setting-icon{
  font-size:14px;
  margin-right:5px;
}

.icon-24x24 {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../images/icon-24x24.png) no-repeat center;
}

.icon-24x24.icon-no-speed{
  background-position: 0 0;
}

.icon-24x24.icon-speeded{
  background-position: -48px 0;
}

