html,
body{
  overflow: hidden;
}

#login-page {
  .section-wrapper{
    height: 250px;
    overflow: hidden;
  }

  .tip{
    color: #fff;
    margin-bottom:10px;

    .fa{
      margin-right: 5px;
    }
  }
}

.custom-client.oss-dialog .form-group .btn-login{
  width: 95%;
}