html,
body{
  overflow: hidden;
}

#login-page {
  padding-bottom: 30px;

  .ui-select-choices.dropdown-menu{
    max-height: 100px;
    min-width:100px;
    overflow-y:auto;
  }

  .section-wrapper{

    > section{
      display: none;
      div.set-http-server{
        line-height: 35px;
        > a{
          color:#bababa !important;
          cursor:pointer;
        }
      }
      div.checkbox{
         > label {
           line-height: 22px;
         }
      }
    }

    > section.current{
      display: block;
    }

    > section.custom-client div.form-group{
       margin-bottom: 25px;
    }
  }

  .tip{
    color: #fff;
    margin-bottom:10px;

    .fa{
      margin-right: 5px;
    }
  }
}

.custom-client.oss-dialog .form-group .btn-login{
  width: 95%;
}

.oss-dialog .login-container div.form-group{
  margin-bottom:15px;
}