html,
body{
  overflow: hidden;
}

#login-page {
  padding-bottom: 30px;

  .ui-select-choices.dropdown-menu{
    max-height: 100px;
    overflow-y:auto;
  }

  .section-wrapper{

    > section{
      display: none;
    }

  > section.current{
    display: block;
  }
  }

  .tip{
    color: #fff;
    margin-bottom:10px;

    .fa{
      margin-right: 5px;
    }
  }
}

.custom-client.oss-dialog .form-group .btn-login{
  width: 95%;
}