.add_bucket_modal{

  .tip{
    position: absolute;
    right: 10px;
  }
  .modal-body  span{
    line-height: 32px;
  }
}

.set_http_header_modal {
  .tab-content {
    border: 1px solid $baseBorderColor;

    .scrollbar{
      padding: 25px 40px;
      max-height: 300px;
      overflow: auto;
    }
  }

  .form-horizontal .control-label {
    width: 35%;
    padding-right: 15px;
  }
  .form-horizontal .input-wrapper {
    width: 65%;
    padding-right: 25px;
  }

  .custom-header-list .form-group:nth-child(1) {
    width: 35%;
  }

  .custom-header-list .form-group:nth-child(2) {
    width: 45%;
  }

  .custom-header-list .form-group:nth-child(3) {
    width: 20%;
    padding-left: 5px;
  }

  .custom-header-list .form-group .btn {
    margin-top: 23px;
  }

}

.upload_detail_modal {
  .part-list-wrapper {
    border: 1px solid $baseBorderColor;
    text-align: center;

    .part-list-header {
      height: 32px;
      line-height: 32px;
      background: $backgrundColor;
      border-bottom: 1px solid $baseBorderColor;
    }
    .number-cell {
      padding: 0 10px;
      width: 20%;
    }

    .last-modify-cell {
      padding: 0 10px;
      width: 40%;
    }

    .size-cell {
      padding: 0 10px;
      width: 40%;
    }

    .upload-part-list {
      max-height: 300px;
      overflow: auto;

      > li {
        height: 28px;
        line-height: 28px;
        cursor: default;

        &:nth-child(even) {
          background: $lightBackgroundColor;
        }

        &:hover {
          background: $itemHoverBackgroundColor;
        }

      }
    }
  }
}

.alert-modal {

  section{
    display: table;
    padding: 35px;
    > div{
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px;
    }
  }

  &.success-alert-modal {
    .modal-body{
      color: $state-success-text;
    }

  }

  &.error-alert-modal {
    .modal-body{
      color: $state-danger-text;
    }

  }

  &.warn-alert-modal {
    .modal-body{
      color: $state-warning-text;
    }

  }

  &.info-alert-modal {
    .modal-body{
      color: $state-info-text;
    }
  }

}

.del_bucket_confirm_modal .modal-dialog{
  width: 500px;
}

.get_object_uri_modal .modal-body span{
  line-height: 32px;
}