.add_bucket_modal{
  .bucket-name{
    @include ellipsis;
  }

  .error-msg{
    position: absolute;
    top: 6px;
    left: 25%;
    margin-left: 15px;
  }

  .tip{
    position: absolute;
    right: 10px;
  }
  .modal-body{
    padding-top: 40px;
  }

  .modal-body  span{
//    line-height: 32px;
  }

  .form-group{
    .col-sm-5{
      height: 32px;
    }
  }

}

.set_http_header_modal {
  .tab-content {
    border: 1px solid $baseBorderColor;

    .scrollbar{
      padding: 25px 40px;
      max-height: 300px;
      overflow: auto;
    }
  }

  .btn-remove-wrapper{
    padding: 0 40px;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .form-horizontal .control-label {
    width: 35%;
    padding-right: 15px;
  }
  .form-horizontal .input-wrapper {
    width: 65%;
    padding-right: 25px;
  }

  .custom-header-list .form-group:nth-child(1) {
    width: 35%;
  }

  .custom-header-list .form-group:nth-child(2) {
    width: 45%;
  }

  .custom-header-list .form-group:nth-child(3) {
    width: 20%;
    padding-left: 5px;
  }

  .custom-header-list .form-group .btn {
    margin-top: 23px;
  }

}

.upload_detail_modal {
  .part-list-wrapper {
    border: 1px solid $baseBorderColor;
    text-align: center;

    .part-list-header {
      height: 32px;
      line-height: 32px;
      background: $backgrundColor;
      border-bottom: 1px solid $baseBorderColor;
    }
    .number-cell {
      padding: 0 10px;
      width: 20%;
    }

    .last-modify-cell {
      padding: 0 10px;
      width: 40%;
    }

    .size-cell {
      padding: 0 10px;
      width: 40%;
    }

    .upload-part-list {
      max-height: 300px;
      overflow: auto;

      > li {
        height: 28px;
        line-height: 28px;
        cursor: default;

        &:nth-child(even) {
          background: $lightBackgroundColor;
        }

        &:hover {
          background: $itemHoverBackgroundColor;
        }

      }
    }
  }
}

.alert-modal {

  section{
    display: table;
    padding: 35px;
    > div{
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px;
    }
  }

  .modal-body{
    padding: 20px;
  }

  &.success-alert-modal {
    .modal-body{
      color: $state-success-text;
    }

  }

  &.error-alert-modal {
    .modal-body{
      color: $state-danger-text;
    }

  }

  &.warning-alert-modal {
    .modal-body{
      color: $state-warning-text;
    }

  }

  &.info-alert-modal {
    .modal-body{
      color: $state-info-text;
    }
  }

}

.del_bucket_confirm_modal .modal-dialog{
//  width: 500px;
}
.get_object_uri_modal{
  .input-wrapper{
    @include ellipsis;
  }
  .error-msg{
    position: absolute;
    bottom: 50px;
    left: 25%;
    margin-left: 15px;
  }
}
.get_object_uri_modal .modal-body span{
//  line-height: 32px;
}

.set_refer_modal {
  .input-wrapper {
    @include ellipsis;
  }
}
.stop_loaddownloadqueue_modal{
  .input-wrapper {
    @include ellipsis;
  }
  .modal-dialog{
      width:400px;
  }
}
.setting_modal {
  .modal-body{
    padding:15px 20px;
  }
  .row{
    margin:10px auto;
  }
   .control-errormsg{
     padding-top:6px;
   }
   input{
     text-align: center;
     padding:0;
   }
  fieldset{
    padding-top:10px;
    legend{
      margin-bottom: 0;
    }
  }
}

.set_speed_modal{
  .time-show{
    text-align: center;
    line-height: 30px;
    font-size:14px;
    .time-text{
      font-size: 24px;
      color: #FF9327;
    }
  }
  .cart-input{
    text-align: center;
    line-height: 30px;
    padding:15px 0;
    .cart-container{
      width:65%;
      margin:0 auto;
      > input{
        width:250px;
        float:left;
      }
      > a{
        float:left;
        margin:0 5px;
      }
    }
  }
  .cart-desc{
    text-align: center;
    line-height: 25px;
    width:65%;
    margin:0 auto;
  }
}

.ram-setting-modal,
.create-ram-items-modal,
.ram-user-manage-modal,
.ram-group-manage-modal,
.ram-policy-manage-modal,
.ram-role-manage-modal,
.ram-service-modal{
  .modal-body{
    padding:10px 0 0 0 !important;
    a{
      cursor: pointer;
    }
    .carousel-indicators{
      display: none;
    }
    .secret-container{
      position: absolute;
      margin-top: -35px;
      margin-left: 180px;
      background: orange;
      height: 40px;
      color: #fff;
      padding: 4px;
      border-radius: 4px;
      width:380px;
      input.form-control[readonly]{
        background: orange;
        color:#ffffff;
      }
    }
    .table.table-hover{
      tr:hover{
        input.form-control[readonly]{
          background: #f5f5f5;
        }
      }
      input.form-control[readonly]{
        background: #ffffff;
        border: 0 !important;
        box-shadow: none;
      }

    }
    ul.nav.nav-tabs{
      padding:0 10px;
    }
    .row{
      line-height: 30px;
      margin:5px -15px !important;
    }
    .desc-test{
      color:#aaa;
    }
    .dropdown{
      .dropdown-toogle,.caret{
        color:#000;
      }
    }
    .dropdown-menu{
      min-width: 80px;
    }
  }
}

.table{
  margin-bottom:0;
}

.news-carousel{
  .carousel-indicators {
    top: 200px;
  }
  .left.carousel-control{
    display: none;
  }
  .right.carousel-control{
    display: none;
  }
}