//基础背景色
$backgrundColor: #f2f2f2;

//基础字体
$baseFont: 12px/1.428571429 "hiragino sans gb", "Helvetica Neue", "Helvetica", "Arial", "宋体", "simsun", "sans-serif";

//基础字体颜色
$baseFontColor: #333;

//侧边背景色 + 文件条的区分色
$lightBackgroundColor: #f7f7f7;

//基础边框颜色
$baseBorderColor:#d8d8d8;

//分割线字体颜色
$baseDividLine:#f2f2f2;

//强调字体颜色
$stressFontColor:#50acf3;

//提示字体颜色（浅）
$lightFontColor:#999;

//点缀字体色
$embedFontColor:#0fce9b;

//点缀背景色
$embedBgColor:#50acf3;

//条目选中背景色
$itemSelectedBackgroundColor:#50acf3;

//条目hover背景色
$itemHoverBackgroundColor:#e1e3e7;

//左侧背景色
$leftSidebarBgColor:#24272b;

//左侧字体颜色
$leftSidebarFontColor:#bababa;

//左侧选中字体颜色
$leftSidebarSelectFontColor:#fff;

//左侧选中字体颜色
$leftSidebarSelectFontColor:#fff;

//左侧宽度
$leftSidebarWidth:190px;

//左侧title高度
$titleHeight: 50px;

//左侧item高度
$bucketItemHeight: 30px;

//左侧Item hover背景色
$bucketItemHoverBg:#000;

//按钮字体颜色
$btnFontColor:#c9ccd0;

//搜索wrapper的高度
$searchWrapperHeight: 42px;

//搜索输入框高度
$searchInputHeight: 30px;

//工具栏高度
$toolbarHeight: 40px;

//面包屑高度
$breadHeight: 42px;

//文件浏览的区域头部高度
$fileListHeaderHeight:30px;

//文件条高度
$fileItemHeight:40px;

//黑色主题背景色
$darkThemeBg:#24272b;

//黑色主题表达元素背景色
$darkThemeFormControlBg: rgba(255, 255, 255, .1);

//初始传输队列高度
$initTransQueueHeigth:40px;

//传输队列默认高度
$transQueueHeigth:270px;




