//基础背景色
$backgrundColor: #f2f2f2;

//基础字体
$baseFont: 12px/1.428571429 "hiragino sans gb", "Helvetica Neue", "Helvetica", "Arial", "宋体", "simsun", "sans-serif";

//基础字体颜色
$baseFontColor: #333;

//侧边背景色
$lightBackgroundColor: #f7f7f7;

//基础边框颜色
$baseBorderColor:#d8d8d8;

//分割线字体颜色
$baseDividLine:#f2f2f2;

//强调字体颜色
$stressFontColor:#50acf3;

//提示字体颜色（浅）
$lightFontColor:#999;

//点缀字体色
$embedFontColor:#0fce9b;

//点缀背景色
$embedBgColor:#50acf3;

//条目选中背景色
$itemSelectedBackgroundColor:#50acf3;

//条目hover背景色
$itemHoverBackgroundColor:#50acf3;

//左侧背景色
$leftSidebarBgColor:#24272b;

//左侧字体颜色
$leftSidebarFontColor:#bababa;

//左侧选中字体颜色
$leftSidebarSelectFontColor:#fff;

//左侧选中字体颜色
$leftSidebarSelectFontColor:#fff;

//左侧宽度
$leftSidebarWidth:190px;

//左侧title高度
$titleHeight: 50px;

//左侧item高度
$bucketItemHeight: 30px;

$bucketItemHoverBg:#000;



