$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

$fa-font-path: "../bower_components/font-awesome/fonts";

@import "font-awesome/scss/font-awesome";

@import "_vars.scss";

@import "_mixins.scss";

@import "_common.scss";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $backgrundColor;
}

.left-sidebar {
  width: $leftSidebarWidth;
  background: $leftSidebarBgColor;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  color: $leftSidebarFontColor;

  .left-header {
    position: relative;
    height: $titleHeight;
    line-height: $titleHeight;
    padding: 0 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    .add-bucket {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 50%;
      right: 10px;
      margin-top: -8px;
      border: 2px solid $embedBgColor;
      border-radius: 9px;
      color: $embedBgColor;
      line-height: 18px;
      text-align: center;
      &:before {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        margin-top: -9px;
        left: 50%;;
        margin-left: -9px;
      }
    }
  }

  a {
    color: $leftSidebarFontColor;

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    color: #fff;
    font-size: 18px;
    line-height: $titleHeight;
  }

  .bucket-list {
    > li {
      margin: 4px 0;

      > a {
        display: block;
        height: $bucketItemHeight;
        line-height: $bucketItemHeight;
        padding: 0 20px;
        border-left: 3px solid transparent;

        &:hover,
        &.selected {
          background: $bucketItemHoverBg;
        }

        &.selected {
          border-left-color: $embedBgColor;
          color: $leftSidebarSelectFontColor;
        }
      }
    }
  }
}

