<!doctype html>
<html class="no-js" ng-app="ExportAuthorization">
<head>
    <meta charset="utf-8">
    <title>OSS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(bower_components) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-controller="MainCtrl" class="oss-dialog dark-theme">
    <h1>导出授权</h1>
    <div class="section-wrapper">
        <section class="form-horizontal">
            <div class="form-group">
                <input type="text" ng-model="accessKeyId" class="form-control" placeholder="Access Key ID"/>
            </div>
            <div class="form-group">
                <input type="text" ng-model="accessKeySecret" class="form-control" placeholder="Access Key Secret"/>
            </div>
            <div class="form-group">
                <input type="text" ng-model="deviceCode" class="form-control" placeholder="机器码"/>
            </div>
            <div class="form-group">
               <button class="btn btn-primary" ng-click="exportAuthorization(accessKeyId,accessKeySecret,deviceCode)">导出授权</button>
                <button class="btn btn-default" ng-click="cancel()">关闭</button>
            </div>
        </section>
    </div>

    <script src="scripts/vendor.js"></script>

    <!-- build:js({.tmp,app}) scripts/export-authorization-script.js -->
    <script src="scripts/oss-client.js"></script>
    <script src="scripts/interface.js"></script>
    <script src="scripts/oss-common.js"></script>
    <script src="scripts/export-authorization.js"></script>
    <!-- endbuild -->
</body>
</html>
