<!doctype html>
<html class="no-js" ng-app="ossClientUiApp">
<head>
    <meta charset="utf-8">
    <title>OSS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(bower_components) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-controller="MainCtrl" id="login-page">
<div class="wrapper">
    <h1>导出授权</h1>
    <div class="section-wrapper">
        <section class="form-horizontal">
            <div class="form-group">
                <input type="text" ng-model="accessKeyId" class="form-control" placeholder="Access Key ID"/>
            </div>
            <div class="form-group">
                <input type="text" ng-model="accessKeySecret" class="form-control" placeholder="Access Key Secret"/>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" ng-model="isCloudHost" class="form-control"/>当前是云主机
                </div>
            </div>
            <div class="form-group">
                <select ng-model="region" class="form-control" ng-options="region.name for region in regions"></select>
            </div>
            <div class="form-group">
               <button class="btn btn-primary" ng-click="login()">登录</button>
                <button class="btn btn-default" ng-click="export()">导入授权</button>
            </div>
        </section>
    </div>
</div>
</body>
</html>
