<!doctype html>
<html class="no-js" ng-app="OSSLogin">
<head>
    <meta charset="utf-8">
    <title>OSS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(bower_components) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../bower_components/angular-ui-select/dist/select.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-controller="MainCtrl" id="login-page" class="oss-dialog dark-theme"
      ng-class="{'custom-client':isCustomClient}">
<h1>
    <img src="images/oss_logo.png" alt=""/>
</h1>

<div class="section-wrapper">
    <!--ak as 登录-->
    <section class="form-horizontal" ng-class="getSectionClass('loginById')" >
        <div class="form-group">
            <input type="text" ng-model="accessKeyId" class="form-control" placeholder="Access Key ID"/>
        </div>
        <div class="form-group">
            <input type="text" ng-model="accessKeySecret" class="form-control" placeholder="Access Key Secret"/>
        </div>
        <div class="form-group" ng-show="!isCustomClient">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="isCloudHost"/>本机是ECS云主机</label>
            </div>
        </div>
        <div class="form-group" >
            <location-select select-location="region" default-location="{{defaultLocation}}" disable-select="checkingLocation||(!isCloudHost && !isCustomClient)"
                             place-holder="{{regionSelectTip}}"/>

        </div>
        <div class="form-group">
            <div class="btn-wrapper">
                <button ng-disabled="loging" class="btn btn-primary btn-login"
                        ng-click="login(accessKeyId,accessKeySecret,isCloudHost,region.location)">登&nbsp;&nbsp;&nbsp;&nbsp;录
                </button>
                <button class="btn btn-default" ng-click="step='importAuthorization'" ng-show="!isCustomClient">导入授权
                </button>
            </div>
        </div>
        <span us-spinner="{color:'#fff',lines:7,radius:6, length: 0,left:'430px',top:'225px'}" spinner-key="checking-locaiton-spinner"></span>
    </section>
    <!--导入授权-->
    <section class="form-horizontal" ng-class="getSectionClass('importAuthorization')">
        <div class="form-group">
            <div class="input-group">
                <input type="text" ng-model="deviceCode" ng-disabled="true" class="form-control"/>

                <div class="input-group-addon"><a href="javascript:void(0)" ng-click="copy(deviceCode)">复制机器码</a></div>
            </div>

        </div>
        <div class="form-group" ng-show="!isCustomClient">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="isImportCloudHost"/>本机是ECS云主机</label>
            </div>
        </div>
        <div class="form-group">
            <location-select select-location="importRegion" disable-select="!isImportCloudHost && !isCustomClient"
                             place-holder="{{regionSelectTip}}"/>
        </div>
        <div class="form-group">
            <div class="btn-wrapper">
                <button class="btn btn-primary" ng-disabled="loging" ng-click="import(isCloudHost,importRegion.location)">选择文件并导入</button>
                <button class="btn btn-default" ng-click="step='loginById'">返&nbsp;&nbsp;&nbsp;&nbsp;回</button>
            </div>
        </div>
    </section>
    <!--设置密码-->
    <section class="form-horizontal"  ng-class="getSectionClass('setPassword')">
        <div class="form-group">
            <div class="tip">
                <i class="fa fa-info-circle"></i>
                <span>设置一个安全密码，下次打开客户端时只需要输入这个安全密码就能使用客户端</span>
                <span class="text-muted">(最少6位)</span>
            </div>
        </div>
        <div class="form-group">
            <input type="password" ng-model="secretPassword" class="form-control" placeholder="安全密码"/>
        </div>
        <div class="form-group">
            <input type="password" ng-model="reSecretPassword" class="form-control" placeholder="再输一次"/>
        </div>
        <div class="form-group">
            <div class="btn-wrapper">
            <button class="btn btn-primary" ng-disabled="setting" ng-click="setPassword(secretPassword,reSecretPassword)">确认设置</button>
            <button class="btn btn-default" ng-click="skipSetPassword()">跳过设置</button>
            </div>
        </div>
    </section>
    <!--通过密码登录-->
    <section class="form-horizontal" ng-class="getSectionClass('loginByPassword')">
        <div class="form-group">
            <div class="tip">
                <i class="fa fa-info-circle fa-lg"></i>
                <span>输入您设置的安全密码即可快速登录管理器</span>
            </div>
        </div>
        <div class="form-group">
            <input type="password" ng-model="secretPasswordSet" class="form-control" placeholder="安全密码"/>
        </div>
        <div class="form-group">
            <div class="btn-wrapper">
            <button class="btn btn-primary" ng-disabled="loging" ng-click="loginByPassword(secretPasswordSet)">进&nbsp;&nbsp;&nbsp;&nbsp;入
            </button>
            <button class="btn btn-default"  ng-click="clearPassword()">清除安全密码</button>
            </div>
        </div>
    </section>

</div>

<script src="scripts/vendor.js"></script>

<!-- build:js({.tmp,app}) scripts/login-script.js -->
<!--<script src="scripts/oss-client.js"></script>-->
<script src="scripts/interface.js"></script>
<script src="scripts/oss-common.js"></script>
<script src="scripts/login.js"></script>
<!-- endbuild -->
</body>
</html>
