<!doctype html>
<html class="no-js" ng-app="OSSLogin">
<head>
    <meta charset="utf-8">
    <title>OSS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(bower_components) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-controller="MainCtrl" id="login-page">
    <h1>
        <!--<img src=""  alt=""/>-->
        OSS
    </h1>
    <div class="section-wrapper">
        <section class="current form-horizontal" ng-show="step=='loginById'">
            <div class="form-group">
                <input type="text" ng-model="accessKeyId" class="form-control" placeholder="Access Key ID"/>
            </div>
            <div class="form-group">
                <input type="text" ng-model="accessKeySecret" class="form-control" placeholder="Access Key Secret"/>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="isCloudHost"/>当前是云主机</label>
                </div>
            </div>
            <div class="form-group">
                <select ng-model="region" ng-disabled="!isCloudHost" class="form-control" ng-options="region.name for region in regions"></select>
            </div>
            <div class="form-group">
                <div class="btn-wrapper">
                    <button class="btn btn-primary" ng-click="login(accessKeyId,accessKeySecret,isCloudHost,region)">登录</button>
                    <button class="btn btn-default" ng-click="export()">导入授权</button>
                </div>
            </div>
        </section>
        <section class="form-horizontal" ng-show="step=='importAuthorization'">
            <div class="form-group">
                <input type="text" ng-model="deviveCode" class="form-control"/>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" ng-model="accessKeySecret" class="form-control"/>
                    <div class="input-group-addon"><a href="javascript:void(0)" ng-click="copy(accessKeySecret)">复制机器码</a></div>
                </div>

            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="isCloudHost"/>当前是云主机</label>
                </div>
            </div>
            <div class="form-group">
                <select ng-model="region" ng-disabled="!isCloudHost" class="form-control" ng-options="region.name for region in regions"></select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="import()">选择文件并导入</button>
                <button class="btn btn-default" ng-click="back()">返回</button>
            </div>
        </section>
        <section class="form-horizontal" ng-show="step=='setPassword'">
            <div class="form-group">
                <div>
                    <i class="fa fa-info-circle"></i>
                    <span>设置一个安全密码，下次打开客户端时只需要输入这个安全密码就能使用客户端</span>
                </div>
            </div>
            <div class="form-group">
                <input type="text" ng-model="secretPassword" class="form-control" placeholder="安全密码"/>
            </div>
            <div class="form-group">
                <input type="text" ng-model="reSecretPassword" class="form-control" placeholder="再输一次"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" ng-click="setPassword(secretPassword,reSecretPassword)">确认设置</button>
                <button class="btn btn-default" ng-click="">跳过设置</button>
            </div>
        </section>
        <section class="form-horizontal" ng-show="step=='loginByPassword'">
            <div class="form-group">
                <div>
                    <i class="fa fa-info-circle"></i>
                    <span>输入您设置的安全密码即可快速登录管理器</span>
                </div>
            </div>
            <div class="form-group">
                <input type="text" ng-model="secretPassword" class="form-control" placeholder="安全密码"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">进入</button>
                <button class="btn btn-default">清除安全密码</button>
            </div>
        </section>

</div>
<!-- build:js(bower_components) scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/es5-shim/es5-shim.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/json3/lib/json3.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-touch/angular-touch.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/jquery-xml2json/src/xml2json.js"></script>
<script src="../bower_components/angular-ui-bootstrap/dist/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="../bower_components/angular-base64/angular-base64.js"></script>
<script src="../bower_components/cryptojslib/components/core.js"></script>
<script src="../bower_components/cryptojslib/components/enc-base64.js"></script>
<script src="../bower_components/cryptojslib/components/md5.js"></script>
<script src="../bower_components/cryptojslib/components/sha1.js"></script>
<script src="../bower_components/cryptojslib/components/hmac.js"></script>
<script src="../bower_components/util.js/util.js"></script>
<script src="../bower_components/spin.js/spin.js"></script>
<script src="../bower_components/angular-spinner/angular-spinner.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/login-script.js -->
<script src="scripts/oss-client.js"></script>
<script src="scripts/interface.js"></script>
<script src="scripts/oss-common.js"></script>
<script src="scripts/login.js"></script>
<!-- endbuild -->
</body>
</html>
