<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4><span ng-bind="title"></span></h4>
</div>
<div class="modal-body">
    <section>
        <div ng-switch on="type">
            <i class="fa fa-times-circle-o fa-3x" ng-switch-when="error"></i>
            <i class="fa fa-warning fa-3x" ng-switch-when="warning"></i>
            <i class="fa fa-check-circle-o fa-3x" ng-switch-when="success"></i>
            <i class="fa fa-info-circle fa-3x" ng-switch-when="info"></i>
        </div>
        <div>
             <span ng-bind-html="message" style="word-break: break-all;"></span>
             <span ng-if="errOptions.Code == 'BucketAlreadyExists'">,你可以按【{{isWindowClient?'Ctrl+C':'⌘ + C'}}】复制以下名称创建：</span>
             <div ng-if="errOptions.Code == 'BucketAlreadyExists'">
               <input class="form-control text-success" style="border:0;background:transparent;box-shadow: none;padding:0;" type="text" ng-model="errOptions.newBucketName" readonly />
             </div>
        </div>
    </section>
</div>
<div class="modal-footer">
    <button ng-repeat="button in buttons" type="button" class="btn" ng-class="button.classes" ng-click="buttonClick(button)">{{button.text}}</button>
</div>
