<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4>回调设置</h4>
</div>
<div class="modal-body min-height-200">
  <form class="form-horizontal" name="callbackSettingCallback" role="form">
    <div class="form-group">
      <label class="col-sm-4 control-label">匹配类型:</label>
      <div class="col-xs-5 radio">
        <label>
          <input type="radio" name="type" ng-model="callbackSetting.type" value="1"> 文件
        </label>

        <label style="margin-left: 15px;">
          <input type="radio" name="type" ng-model="callbackSetting.type" value="2"> 文件夹
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-4 control-label text-right">匹配正则:</label>
      <div class="col-xs-5">
        <input class="form-control" type="text" required="" ng-model="callbackSetting.rule">
      </div>
    </div>

    <div class="form-group">
      <label class="col-xs-4 control-label text-right">回调地址:</label>
      <div class="col-xs-5">
        <input class="form-control" type="text" required="" ng-model="callbackSetting.url">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">当前状态:</label>
      <div class="col-xs-5 radio">
        <label>
          <input type="radio" name="status" ng-model="callbackSetting.status" value="1"> 开启
        </label>

        <label style="margin-left: 15px;">
          <input type="radio" name="status" ng-model="callbackSetting.status" value="0"> 关闭
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">重连次数:</label>
      <div class="col-xs-2">
        <input type="number" show-error="showRelinkTimesError" only-number="callbackSetting.times" min="{{min}}" max="{{max}}" ng-model="callbackSetting.times" class="form-control"/>
      </div>
      <div class="col-xs-5 control-errormsg" ng-show="showRelinkTimesError"><span class="text-danger">限制数字范围:{{min}} - {{max}}</span></div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-disabled="callbackSettingCallback.$invalid" ng-click="setCallback()">确定</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">关闭</button>
</div>
