<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 >请输入Access Key 和Access Secret确认</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="accessKey" class="col-sm-4 control-label">Access Key ID：</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="accessKey" id="accessKey" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <label for="accessSecret" class="col-sm-4 control-label">Access Key Secret：</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" ng-model="accessSecret" id="accessSecret" placeholder="" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="delConfirm(accessKey,accessSecret)">确定</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
</div>
