<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4>删除Object</h4>
</div>
<div class="modal-body min-height-100">
    <div ng-if="status == 'preparing'">
        <span us-spinner="{color:'#fff',lines:8,radius:7, length: 0,left:'430px',top:'245px'}"
              spinner-key="preparing-del-object-spinner"  spinner-start-active="true"></span>
        <span>准备删除...</span>
    </div>
    <div>
        <div ng-if="status == 'deleting'">
            <div>正在删除<span ng-bind="doneCount"></span>/<span ng-bind="count"></span></div>
            <progressbar value="deletedCount" max="totalCount"></progressbar>
        </div>
    </div>
</div>
