<div class="toolbar">
    <ul class="clearfix menu-list">
        <div class="btn-group" ng-repeat="menuGroup in menuGroups">
            <menu ng-repeat="menu in menuGroup" ng-if="!isExclude(menu)" name="{{menu.name}}" state="menu.getState(getSelectedList())" execute="menu.execute(bucket,objectPrefix,getSelectedList())">{{menu.text}}</menu>
        </div>


        <!--<menu ng-repeat="menu in selectFileMenuList" name="{{menu.name}}" state="menu.getState(getSelectedList())" execute="menu.execute(bucket,objectPrefix,getSelectedList())">{{menu.text}}</menu>-->
    </ul>
</div>
<p class="oss-tip bg-warning" ng-show="showTip">
    <span ng-bind-html="tipContent" class="text-warning"></span>
    <a href="javascript:void(0);" ng-click="disableTip()">不再提示</a>
</p>
<div class="clearfix filelist-header">
    <div class="pull-left filename">文件名</div>
    <div class="pull-right  file-create-time">创建时间</div>
    <div class="pull-right filesize">大小</div>
</div>
<div class="scrollbar filelist-body"
     ng-class="{'tip-shown':showTip}"
     scroll-load="loadMoreFile()"
     disable-scroll="loadingFile"
     create-file="showCreateFile"
     create-file-callback="createFileCallback(filename,callback)"
     keyboard-nav-list="files"
     keyboard-nav-step="1"
     keyboard-nav="{{enableKeyBoardNav}}"
     scroll-to-item = "{{scrollToIndex}}"
     item-selector=".file-item"
     select="select(item)"
     un-select="unSelect(item)"
     get-selected-list="getSelectedList()"
     context-menu=""
     data-target="menu-current-file"
     on-drop="handleSysDrop()"
     ng-click="handleFileListClick($event)"
     ng-right-click="handleFileListClick($event)"
        >
    <div class="empty" ng-if="!files.length && !loadingFile">没有文件</div>
    <div class="clearfix file-item" ng-repeat="file in files" ng-dblclick="openFile(file,file.dir)" ng-class="{'selected':file.selected}" ng-click="handleClick($event,file,$index)"  context-menu="onContextMenuShow(file)" data-target="menu-select-file">
        <div class="pull-left filename">
            <file-icon dir="{{file.dir}}" size="32" filename="{{file.filename}}"></file-icon>
            <span class="name" ng-bind="file.filename"></span>
        </div>
        <div class="pull-right file-create-time" ng-bind="file.dir?'-' : (file.lastModified | formatTime)"></div>
        <div class="pull-right filesize" ng-bind="file.dir?'-' : (file.size | bitSize)"></div>
    </div>
    <div class="text-muted loading-banner" ng-show="loadingFile && files.length">
    <i class="fa fa-circle-o-notch fa-spin"></i>
    <span>加载中...</span>
</div>
    <span us-spinner="{radius:10, length: 0}"  spinner-key="file-list-spinner"  spinner-start-active="1"></span>
</div>

<div class="dropdown position-fixed" id="menu-select-file">
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="menu in selectFileMenuList" ng-show="menu.getState(getSelectedList())>0">
            <a class="pointer" href="javascript:void(0)" role="menuitem" tabindex="1" ng-click="menu.execute(bucket,objectPrefix,getSelectedList())">
                {{menu.text}}
            </a>
        </li>
    </ul>
</div>

<div class="dropdown position-fixed" id="menu-current-file">
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="menu in currentFileMenuList" ng-show="menu.getState(getSelectedList())>0">
            <a class="pointer" href="javascript:void(0)" role="menuitem" tabindex="1" ng-click="menu.execute(bucket,objectPrefix,getSelectedList())">
                {{menu.text}}
            </a>
        </li>
    </ul>
</div>

