<div class="toolbar">
    <ul class="clearfix menu-list">
        <li ng-repeat="menu in currentFileMenuList" class="pull-left" ng-show="menu.getState(getSelectedList())>=0">
            <menu name="{{menu.name}}" state="menu.getState(getSelectedList())" execute="menu.execute(bucket,objectPrefix,getSelectedList())">{{menu.text}}</menu>
        </li>
        <li ng-repeat="menu in selectFileMenuList" class="pull-left" ng-show="menu.getState(getSelectedList())>=0">
            <menu name="{{menu.name}}" state="menu.getState(getSelectedList())" execute="menu.execute(bucket,objectPrefix,getSelectedList())">{{menu.text}}</menu>
        </li>
    </ul>
</div>
<div class="clearfix filelist-header">
    <div class="pull-left filename">文件名</div>
    <div class="pull-right  file-create-time">创建时间</div>
    <div class="pull-right filesize">大小</div>

</div>
<div class="filelist-body"
     scroll-load="loadMoreFile()"
     disable-scroll="loadingFile"
     create-file="showCreateFile"
     create-file-callback="createFileCallback(filename,callback)"
     keyboard-nav-list="files"
     keyboard-nav-step="1"
     keyboard-nav="{{enableKeyBoardNav}}"
     scroll-to-item = "{{scrollToIndex}}"
     item-selector=".file-item"
     select="select(item)"
     un-select="unSelect(item)"
     get-selected-list="getSelectedList()"
     context-menu=""
     data-target="menu-current-file"
        >
    <div class="clearfix file-item" ng-repeat="file in files" ng-dblclick="openFile(file,file.dir)" ng-class="{'selected':file.selected}" ng-click="handleClick($event,file,$index)"  context-menu="onContextMenuShow(file)" data-target="menu-select-file">
        <div class="pull-left filename">
            <file-icon dir="{{file.dir}}" size="32" filename="{{file.filename}}"></file-icon>
            <span class="name" ng-bind="file.filename"></span>
        </div>
        <div class="pull-right file-create-time" ng-bind="file.dir?'-' : (file.lastModified | formatTime)"></div>
        <div class="pull-right filesize" ng-bind="file.dir?'-' : (file.size | bitSize)"></div>
    </div>
    <span us-spinner="{radius:10, length: 0}"  spinner-key="file-list-spinner"  spinner-start-active="1"></span>
</div>

<div class="dropdown position-fixed" id="menu-select-file">
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="menu in selectFileMenuList" ng-show="menu.getState(getSelectedList())>0">
            <a class="pointer" href="javascript:void(0)" role="menuitem" tabindex="1" ng-click="menu.execute(bucket,objectPrefix,getSelectedList())">
                {{menu.text}}
            </a>
        </li>
    </ul>
</div>

<div class="dropdown position-fixed" id="menu-current-file">
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="menu in currentFileMenuList" ng-show="menu.getState(getSelectedList())>0">
            <a class="pointer" href="javascript:void(0)" role="menuitem" tabindex="1" ng-click="menu.execute(bucket,objectPrefix,getSelectedList())">
                {{menu.text}}
            </a>
        </li>
    </ul>
</div>

