<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4>获取Object的地址</h4>
</div>
<div class="modal-body">
    <section>
        <ul class="form-horizontal">
            <li>
                <div class="form-group">
                    <label class="pull-left control-label">文件名：</label>
                    <div class="pull-left  input-wrapper">
                        <span ng-bind="filename"></span>
                    </div>
                </div>
            </li>
            <li >
                <div class="form-group">
                    <label class="pull-left control-label">地址：</label>
                    <div class="pull-left  input-wrapper">
                        <input type="text" class="form-control" ng-model="uri" readonly>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="cancel()">确定</button>
</div>
