<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 translate>获取Object的地址</h4>
</div>
<div class="modal-body min-height-200">
    <section ng-show="!loading">
        <ul class="form-horizontal">
            <li>
                <div class="form-group">
                    <label class="col-sm-3 control-label" translate>文件名：</label>
                    <div class="col-sm-9 input-wrapper">
                        <span ng-bind="filename" title="{{filename}}"></span>
                    </div>
                </div>
            </li>
            <li ng-if="isArchiveBucket && currentFile.status!='completed'">
                <div ng-if="currentFile.status == 'norestore'">
                    <div class="col-sm-12 input-wrapper" style="padding-left:68px;" translate>该文件是归档存储类型，需要 Restore 之后才能获取地址。</div>
                </div>
                <div ng-if="currentFile.status == 'completing'">
                    <div class="col-sm-12 input-wrapper" style="padding-left:68px;" translate>该资源正在 Restore 中，预计需要几个小时的时间，请耐心等待。</div>
                </div>
            </li>
            <li ng-if="!isArchiveBucket || (isArchiveBucket && currentFile.status=='completed')">
                <form name="getURIForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" translate>地址：</label>
                        <div class="col-sm-9" style="margin-left: -15px;" ng-show="!uri">
                            <label class="col-xs-5 control-label" style="text-align: left" translate>请输入链接的有效期：</label>
                            <div class="col-xs-3" style="margin-left: -40px">
                                <input type="text" class="form-control" ng-model="expire" name="expire" ng-pattern="/^[1-9]{1}[\d]*$/"/>
                            </div>
                            <div class="col-xs-1" style="margin-left: -20px"><span translate>秒</span></div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary" ng-click="getUri(expire)" ng-disabled="getURIForm.expire.$error.pattern" translate>获取</button>
                            </div>
                        </div>
                        <div class="col-sm-9 input-wrapper" style="margin-left: -15px" ng-show="uri">
                            <div class="col-sm-10">
                                <input type="text" auto-select="true" class="form-control" ng-model="uri" readonly>
                            </div>
                           <div class="col-sm-2" style="margin-left: -15px">
                               <button class="btn btn-primary" ng-click="copyToClipborad(uri)" translate>复制</button>
                           </div>
                        </div>
                    </div>
                    <span class="error-msg text-danger" ng-show="getURIForm.expire.$error.pattern" translate>请输入大于0的整数</span>
                </form>
            </li>
        </ul>
    </section>
    <span us-spinner="{radius:10, length: 0}" spinner-key="get-acl-spinner"  spinner-start-active="1"></span>
</div>
<div class="modal-footer">
    <button type="button" ng-if="isArchiveBucket && currentFile.status == 'norestore'" class="btn btn-primary" ng-click="onRestoreFile()">Restore</button>
    <button type="button" class="btn btn-default" ng-click="cancel()" translate>取消</button>
</div>
