<li class="clearfix queue-item" ng-class="{'selected':item.selected}" ng-click="clickItem($event,item)">
    <div class="queue-progress " ng-class="{'bg-info':!item.errormsg,'bg-danger':item.errormsg}" ng-if="!item.errormsg&&item.filesize>0" ng-style="{'width':item.offset/item.filesize*100 + '%'}"></div>
    <div class="queue-progress" ng-class="{'bg-info':!item.errormsg,'bg-danger':item.errormsg}" ng-if="item.filesize==0 || item.errormsg" style="width:100%"></div>
    <div class="pull-left filename" ng-bind="item.object"></div>
    <div class="pull-right remain-time" ng-class="{'text-danger':item.errormsg}" ng-bind="type | getQueueState:item.status:item.speed:item.filesize:item.offset:item.errormsg"></div>
    <div class="pull-right filesize" ng-bind="item.filesize | bitSize"></div>
</li>