<div class="modal-body min-height-200">
  <form name="user_group_modal" novalidate="novalidate">
    <tabset>
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <tab heading="{{'用户授权'|translate}}" active="user.tabActive" select="selectTabs('user');">
        <div ng-if="user.tabActive" class="scrollbar" style="padding:10px;max-height: 400px;overflow-y:auto;"
             scroll-load="loadMoreUsers()"
             disable-scroll="user.loading || !user.hasMore">

          <table class="table table-hover">
            <thead>
              <tr>
                <th translate>用户名</th>
                <th translate>显示名</th>
                <th translate>描述</th>
                <th translate>创建时间</th>
                <th translate>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="user.loading">
                <td colspan="5">
                  <div style="line-height: 30px;height: 30px;position: relative;">
                    <span us-spinner="{lines:8,radius:10, length: 0,radius:6}"   spinner-start-active="1">
                    </span>
                  </div>
                </td>
              </tr>
              <tr ng-if="!user.loading && +user.list.length == 0">
                <td colspan="5" align="center">
                  <span translate>暂无数据</span>
                </td>
              </tr>
              <tr ng-repeat="user in user.list">
                <td>{{user.UserName}}</td>
                <td>{{user.DisplayName}}</td>
                <td>{{user.Comments}}</td>
                <td>{{user.CreateDate|formatTime}}</td>
                <td>
                  <nobr><a ng-click="manageRam(user,'user');" translate>管理</a></nobr>
                  <nobr><a ng-click="manageRam(user,'user','policy');" translate>授权</a></nobr>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="{{'用户组授权'|translate}}" active="group.tabActive" select="selectTabs('group');">
        <div ng-if="group.tabActive" class="scrollbar" style="padding:10px;max-height: 400px;overflow-y:auto;"
             scroll-load="loadMoreGroups()"
             disable-scroll="group.loading || !group.hasMore">
          <table class="table table-hover">
            <thead>
              <tr>
                <th translate>组名称</th>
                <th translate>描述</th>
                <th translate>创建时间</th>
                <th translate>策略</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-if="group.loading">
              <td colspan="5">
                <div style="line-height: 30px;height: 30px;position: relative;">
                    <span us-spinner="{lines:8,radius:10, length: 0,radius:6}"   spinner-start-active="1">
                    </span>
                </div>
              </td>
            </tr>
            <tr ng-if="!group.loading && +group.list.length == 0">
              <td colspan="5" align="center">
                <span translate>暂无数据</span>
              </td>
            </tr>
            <tr ng-repeat="group in group.list">
              <td>{{group.GroupName}}</td>
              <td>{{group.Comments}}</td>
              <td>{{group.CreateDate|formatTime}}</td>
              <td>
                <nobr><a ng-click="manageRam(group,'group');" translate>管理</a></nobr>
                <nobr><a ng-click="manageRam(group,'group','policy');" translate>授权</a></nobr>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="{{'角色授权'|translate}}" active="role.tabActive" select="selectTabs('role');">
        <div ng-if="role.tabActive" class="scrollbar" style="padding:10px;max-height: 400px;overflow-y:auto;">
          <table class="table table-hover">
            <thead>
            <tr>
              <th width="30%" translate>角色名称</th>
              <th width="30%" translate>描述</th>
              <th width="20%" translate>创建时间</th>
              <th width="20%" translate>策略</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="role.loading">
              <td colspan="5">
                <div style="line-height: 30px;height: 30px;position: relative;">
                    <span us-spinner="{lines:8,radius:10, length: 0,radius:6}"   spinner-start-active="1">
                    </span>
                </div>
              </td>
            </tr>
            <tr ng-if="!role.loading && (!role.list || role.list.length == 0)">
              <td colspan="5" align="center" translate>
                暂无数据
              </td>
            </tr>
            <tr ng-repeat="role in role.list">
              <td>{{role.RoleName}}
                <a class="btn btn-link" ng-click="role.showArn = !role.showArn;">Arn</a>
                <div ng-show="role.showArn" class="secret-container" style="margin-left:165px;">
                  <input readonly="readonly" class="form-control" type="text" ng-value="role.Arn" style="color:orange;width: 350px;display: inline-block;">
                  <button type="button" class="close" ng-click="role.showArn =  false;" style="margin-top:4px;">&times;</button>
                </div>
              </td>
              <td>{{role.Description}}</td>
              <td>{{role.CreateDate|formatTime}}</td>
              <td>
                <nobr><a ng-click="manageRam(role,'role');" translate>管理</a></nobr>
                <nobr><a ng-click="manageRam(role,'role','policy');" translate>授权</a></nobr>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="{{'授权策略'|translate}}" active="policy.tabActive" select="selectTabs('policy');">
        <div ng-if="policy.tabActive" class="scrollbar" style="padding:10px;max-height: 400px;min-height:200px;overflow-y:auto;"
             scroll-load="loadMorePolicies()"
             disable-scroll="policy.loading || !policy.hasMore">
          <table class="table table-hover">
            <thead>
              <tr>
                <th width="20%" translate>策略名称</th>
                <th width="30%" translate>描述</th>
                <th width="18%" translate>引用次数</th>
                <th width="18%" >
                  <span dropdown>
                    <a data-toggle="dropdown" class="dropdown-toogle">
                      <span ng-show="policy.type == null" translate>全部类型</span>
                      <span ng-show="policy.type == 'Custom'" translate>自定义</span>
                      <span ng-show="policy.type == 'System'" translate>系统</span>
                      <span class="caret"></span>
                    </a>
                    <ul dropdown-menu class="dropdown-menu">
                      <li>
                        <a ng-click="changePolicyType(null)" translate>全部类型</a>
                      </li>
                      <li>
                        <a ng-click="changePolicyType('Custom')" translate>自定义</a>
                      </li>
                      <li>
                        <a ng-click="changePolicyType('System')" translate>系统</a>
                      </li>
                    </ul>
                  </span>
                </th>
                <th width="14%" translate>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="policy.loading">
                <td colspan="5">
                  <div style="line-height: 30px;height: 30px;position: relative;">
                      <span us-spinner="{lines:8,radius:10, length: 0,radius:6}"   spinner-start-active="1">
                      </span>
                  </div>
                </td>
              </tr>
              <tr ng-if="!policy.loading && +policy.list.length == 0">
                <td colspan="5" align="center">
                  <span translate>暂无数据</span>
                </td>
              </tr>
              <tr ng-repeat="policy in policy.list">
                <td>{{policy.PolicyName}}</td>
                <td>{{policy.Description}}</td>
                <td>{{policy.AttachmentCount}}</td>
                <td>{{policy.PolicyType == 'Custom'?('自定义'|translate):('系统'|translate)}}</td>
                <td>
                  <nobr><a ng-click="manageRam(policy,'policy')" translate>管理</a></nobr>
                  <nobr><a ng-if="policy.PolicyType == 'Custom'" ng-click="deletePolicy(policy,$index)" translate>删除</a></nobr>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
    </tabset>
  </form>
</div>
<div class="modal-footer">
  <button ng-if="false" ng-click="closeRamService();" class="btn btn-default pull-left" translate>关闭RAM服务</button>
  <button ng-if="user.tabActive" ng-click="createUser();" class="btn btn-default pull-left" translate>创建用户</button>
  <button ng-if="group.tabActive" ng-click="createGroup();" class="btn btn-default pull-left" translate>创建用户组</button>
  <button ng-if="role.tabActive" ng-click="createRole();" class="btn btn-default pull-left" translate>创建角色</button>
  <button ng-if="policy.tabActive" ng-click="createPolicy();" class="btn btn-default pull-left" translate>创建授权策略</button>
  <button ng-if="false" type="button" class="btn btn-primary" ng-click="save()" ng-disabled="user_group_modal.$pristine || user_group_modal.$invalid" translate>确定</button>
  <button type="button" class="btn btn-default" ng-click="cancel()" translate>取消</button>
</div>
