<div class="modal-body min-height-200">
  <form name="user_group_modal" novalidate="novalidate">
    <tabset>
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <tab heading="{{'用户授权'|translate}}" active="user.tabActive" select="selectTabs('user');">
        <div ng-if="user.tabActive" style="padding:10px;">
          <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th translate>用户名</th>
                <th translate>显示名</th>
                <th translate>描述</th>
                <th translate>创建时间</th>
                <th translate>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in user.list">
                <td><input type="checkbox"></td>
                <td>{{user.UserName}}</td>
                <td>{{user.DisplayName}}</td>
                <td>{{user.Comments}}</td>
                <td>{{user.CreateDate|formatTime}}</td>
                <td>
                  <a ng-click="" translate>管理</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="{{'用户组授权'|translate}}" active="group.tabActive" select="selectTabs('group');">
        <div ng-if="group.tabActive" style="padding:10px;">
          <table class="table table-hover">
            <thead>
            <tr>
              <th></th>
              <th translate>组名称</th>
              <th translate>描述</th>
              <th translate>创建时间</th>
              <th translate>策略</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in group.list">
              <td><input type="checkbox"></td>
              <td>{{group.GroupName}}</td>
              <td>{{group.Comments}}</td>
              <td>{{group.CreateDate|formatTime}}</td>
              <td>
                <a ng-click="" translate>查看</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </tab>
    </tabset>
  </form>
</div>
<div class="modal-footer">
  <button ng-if="user.tabActive" ng-click="createUser();" class="btn btn-default pull-left">创建用户</button>
  <button ng-if="group.tabActive" ng-click="createGroup();" class="btn btn-default pull-left">创建用户组</button>
  <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="user_group_modal.$pristine || user_group_modal.$invalid" translate>确定</button>
  <button type="button" class="btn btn-default" ng-click="cancel()" translate>取消</button>
</div>
