<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4 translate>加速服务</h4>
</div>
<div class="modal-body min-height-200">
  <span us-spinner="{radius:10, length: 0}" ng-show="loading"  spinner-key="get-bucket-spinner"  spinner-start-active="1"></span>
  <div ng-show="!loading">
    <div class="time-show">
      <span translate>剩余加速时长:</span>
      <span class="time-text">{{speedSetting.speed.timeHour || 0}}</span>
      <span translate>时</span>
      <span class="time-text">{{speedSetting.speed.timeMinute || 0}}</span>
      <span translate>分</span>
      <span class="time-text">{{speedSetting.speed.timeSecond || 0}}</span>
      <span translate>秒</span>
    </div>
    <div class="cart-input">
      <div class="clearfix cart-container">
        <input type="text" ng-disabled="speedSetting.active || doing" class="form-control" ng-model="speedSetting.speed.cartNumber" placeholder="{{'请输入加速卡号'|translate}}">
        <a ng-if="!speedSetting.active" class="btn btn-warning"  ng-disabled="!speedSetting.speed.cartNumber || doing" ng-click="startOpenSpeed()" translate>开始加速</a>
        <a ng-if="speedSetting.active" class="btn btn-danger"  ng-disabled="doing" ng-click="stopOpenSpeed()" translate>停止加速</a>
      </div>
    </div>
    <div class="cart-desc">
       <span translate>上传加速是一项增值服务，可以在复杂的网络环境下为您提供稳定高速的上传速度，立即 </span>
       <a href="javascript:void(0)" ng-click="goBuy();" translate> 购买 </a>
       <!--<span> 或 </span>-->
       <!--<a href="javascript:void(0)" ng-click="goSearchBill();"> 查询消费记录 </a>-->
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()" translate>关闭</button>
</div>
